@import "src/pattern-display";
@import "src/controls";
@import "src/settings";

body {
	font-size: 25px;
	font-family: sans-serif;
}

.container {
	max-width: 730px;
	margin: auto;
	position: relative;
}

input {
	font-size: 25px;
}

label {
	display: block;
	margin-top: 10px;
}
