@import "src/pattern-display";
@import "src/controls";
@import "src/settings/settings";

body {
	font-size: 25px;
	font-family: sans-serif;
}

h1 {
	font-size: 1.4em;
}

input {
	font-size: 25px;
}

.container {
	max-width: 730px;
	margin: auto;
	position: relative;
}
