.pattern-preview__image-container {
	width: 100%;
	display: none;

	&.is-showing {
		display: block;
	}
}

.pattern-preview__image {
	width: 100%;
}

.pattern-preview__error {
	display: none;
	color: red;

	&.is-showing {
		display: block;
	}
}

.pattern-preview__loading-spinner {
	width: 100%;
	display: none;

	&.is-showing {
		display: block;
	}
}
