@import "pattern-preview";

.settings {
	background-color: white;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	display: none;

	&.is-open {
		display: block;
	}
}

.settings-label {
	display: block;
	margin: 10px 0 3px;
}
.settings-label--inline {
	display: inline;
	margin: 0;
}

.settings-label-container {
	display: block;
	margin: 10px 0 3px;
}

.settings__left-col {
	float: left;
	width: 20%;
	min-height: 415px;
	padding-right: 3%;
	border-right: 1px solid gray;
}

.settings__right-col {
	float: left;
	width: 72%;
	padding-left: 3%;
}

.settings__pattern-url {
	width: 100%;
}

.settings__colour {
	overflow: hidden;
}

.settings__colour__input {
	float: left;
	width: 130px;
}

.settings__colour__preview {

	display: inline-block;
	width: 35px;
	height: 35px;
	margin-left: 20px;

	background-color: red;
}

.settings__increment {
	width: 100%;
}
