.settings {
	background-color: white;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;

	display: none;

	&.is-open {
		display: block;
	}
}

.settings-label {
	display: block;
	margin-top: 10px;
}

.settings__left-col {
	float: left;
	width: 20%;
	padding-right: 3%;
	border-right: 1px solid gray;
}

.settings__right-col {
	float: left;
	width: 72%;
	padding-left: 3%;
}

.settings__pattern-url {
	width: 100%;
}

.settings__colour {
	overflow: hidden;
}

.settings__colour__input {
	float: left;
	width: 130px;
}

.settings__colour__preview {

	display: inline-block;
	width: 35px;
	height: 35px;
	margin-left: 20px;

	background-color: red;
}

.settings__increment {
	width: 100%;
}

.pattern-preview__image-container {
	width: 100%;
	display: none;
	
	&.is-showing {
		display: block;
	}
}

.pattern-preview__image {
	width: 100%;
}

.pattern-preview__error {
	display: none;
	color: red;

	&.is-showing {
		display: block;
	}
}

.pattern-preview__loading-spinner {
	width: 100%;
	display: none;

	&.is-showing {
		display: block;
	}
}
