.pattern-container {
	position: relative;
	width: 100%;
	float: left;
	overflow: hidden;
	margin-bottom: 20px;
}

.pattern-container__loading-spinner {
	height: 100%;
	margin: auto;
	display: none;

	&.is-showing {
		display: block;
	}
}

.pattern-container__pattern {
	display: none;
	position: absolute;

	&.is-showing {
		display: block;
	}
}

.pattern-container__stitch-markers {
	position: absolute;
}
